@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
}

.button:not(.subscribe-button)::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.button:hover:not(.button-services-current):not(.subscribe-button) {
  background-color: #ffe17f;
}

.button:active:not(.button-services-current):not(.subscribe-button) {
  background-color: #ffcc33;
}

.button:focus {
  outline: 2px solid #af4fff;
}

.button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* Pages */

/* Header */
.page-header {
  width: 1160px;
  min-height: 300px;
  margin: 40px auto 0;
  color: #000000;
  background-color: #ffe17f;
}

.page-header-inner {
  min-height: 186px;
}

.header-wrapper {
  width: 1040px;
  margin: -22px auto 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-logo-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.navigation-logo {
  display: flex;
  text-decoration: none;
  color: #000000;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 30px;
}

.search-form {
  width: 517px;
}

.navigation-login {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 230px;
}

.navigation-user-products {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 240px;
}

.navigation-link {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000000;
  cursor: default;
}

.navigation-link:hover {
  opacity: 0.6;
  outline: none;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-link-login {
  padding-left: 26px;
}

.navigation-link-compare {
  padding-left: 22px;
}

.navigation-link-basket {
  padding-left: 43px;
}

.navigation-link-basket::before {
  position: absolute;
  top: 4.5px;
  left: 0;
  display: flex;
  width: 21px;
  height: 21px;
  content: "2";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 1;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navigation-link-basket .navigation-icon {
  left: 15px;
}

.navigation-link-login .navigation-icon,
.navigation-link-compare .navigation-icon,
.navigation-link-basket .navigation-icon {
  right: auto;
  margin: auto 0;
}

.logout-link {
  opacity: 0.3;
}

.navigation-site {
  height: 50px;
  align-items: center;
}

.navigation-site .navigation-link {
  font-family: Raleway, sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-site .navigation-item:not(:last-child) {
  margin-right: 45px;
}

.navigation-site .navigation-item:first-child {
  margin-right: auto;
}

.navigation-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 293px;
  height: 50px;
  padding: 0;
  text-align: left;
}

.navigation-catalog-toggle {
  opacity: 0.3;
}

.navigation-catalog:hover .navigation-catalog-toggle {
  opacity: 1;
}

.navigation-catalog:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Main index */

.main-container {
  flex-grow: 1;
}

/* Слайдер */
.promo {
  display: flex;
  width: 1160px;
  margin: 0 auto 70px;
}

.promo-photo-wrapper {
  margin-top: -150px;
  margin-right: 40px;
}

/* Временное решение для корректности построения микросетки помо секции*/
.slider-button {
  display: none;
}

.promo-number {
  display: block;
  width: 250px;
  height: 135px;
  margin: -121px 49px 0 auto;
  padding: 0;
  text-align: right;
  font-family: Rubik, sans-serif;
  font-size: 180px;
  line-height: 135px;
  font-weight: 700;
  color: #ffffff;
}

.promo-slogan {
  margin: -46px 0 29px;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.promo-description {
  margin: 0;
}

.promo-buttons {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.button-detail {
  width: 220px;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

.promo-stats {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.promo-stats-wrapper:not(:last-child) {
  margin-right: 20px;
}

.promo-stats-number {
  margin-bottom: 12px;
  font-size: 36px;
  color: #000000;
}

.promo-stats-description {
  margin: 0;
  font-size: 16px;
}

/* Категории товаров */

.product-categories {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto 172px;
}
.product-categories-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.product-categories-item {
  width: 160px;
}

.product-categories-item:not(:nth-child(6n)) {
  margin-right: 40px;
}

.product-categories-link {
  display: block;
  text-decoration: none;
  color: #000000;
  outline: none;
  cursor: default;
}

.product-categories-link:hover .product-categories-wrapper {
  background-color: #ffc700;
}

.product-categories-link:active {
  opacity: 0.3;
}

.product-categories-link:focus {
  outline: 2px solid #af4fff;
}

.product-categories-title {
  min-height: 60px;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.product-categories-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
  background-position: center;
  background-repeat: no-repeat;
}

.product-categories-vr {
  background-image: url("/images/icons/icon-vr.svg");
  background-size: 97px 55px;
}

.product-categories-selfie-monopod {
  background-image: url("/images/icons/icon-monopod.svg");
  background-size: 86px 117px;
  background-position: center bottom;
}

.product-categories-action-camera {
  background-image: url("/images/icons/icon-camera.svg");
  background-size: 71px 87px;
}

.product-categories-fitness-bracelet {
  background-image: url("/images/icons/icon-bracelet.svg");
  background-size: 107px 65px;
}

.product-categories-smart-watch {
  background-image: url("/images/icons/icon-watch.svg");
  background-size: 56px 98px;
}

.product-categories-quadrocopter {
  background-image: url("/images/icons/icon-quadrocopter.svg");
  background-size: 132px 69px;
}

/* Услуги */

.services {
  position: relative;
  display:flex;
  width: 100%;
  height: 289px;
  margin-bottom: 70px;
  background-color: #f0f0f0;
  z-index: 0;
}

.services-wrapper {
  display: flex;
  width: 1160px;
  height: 319px;
  margin: 0 auto;
  margin-top: -102px;
}

.services-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 287px;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  list-style-type: none;
  border-right: 7px solid #000000;
}

.services-info {
  display: none;
}
.services-info-current {
  display: flex;
  align-items: center;
}

.services-text {
  width: 475px;
  margin-right: 83px;
}

.services-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.services-description {
  margin: 0;
}

.services-item:not(:last-child) {
  margin-bottom: 35px;
}

.button-services {
  width: 160px;
}

.button-services-current {
  width: 100%;
  background-color: #000000;
  color: #ffe17f;
  border: none;
}

.button-services-current span {
  display: block;
  width: 160px;
  box-sizing: border-box;
  text-align: center;
}
.services-icon {
  background-position: center;
  background-repeat: no-repeat;
}

.services-icon-delivery {
  width: 136px;
  height: 164px;
  background-image: url("/images/icons/icon-delivery.svg");
  background-size: 136px 164px;
}

.services-icon-warranty {
  width: 171px;
  height: 195px;
  background-image: url("/images/icons/icon-warranty.svg");
  background-size: 171px 195px;
}

.services-icon-credit {
  width: 156px;
  height: 188px;
  background-image: url("/images/icons/icon-credit.svg");
  background-size: 156px 188px;
}

/* Спецпредложения */

.special-offers {
  width: 1160px;
  margin: 0 auto 70px;
}

.special-offers-wrapper {
  display: flex;
  width: 100%;
  background-color: #f0f0f0;
}

.special-offers-wrapper:hover g {
  opacity: 1;
}

.special-offers-wrapper:hover .special-offers-icon-delivery {
  background-color: #ffc700;
}

.special-offers-wrapper:hover .special-offers-icon-delivery {
  background-color: #ffc700;
}

.special-offers-wrapper:active {
  opacity: 0.3;
}

.special-offers-wrapper:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.special-offers-icon {
  display: flex;
  width: 125px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.special-offers-icon-delivery {
  background-image: url("/images/icons/icon-special-delivery.svg");
  background-size: 47px 31px;
  background-color: #ffe17f;
}

.special-offers-icon-info {
  margin: auto;
  width: 40px;
  height: 40px;
}

.special-offers-title {
  flex-grow: 1;
  margin: auto;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

/* О нас, Контакты */

.general-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto 80px;
}

.about {
  width: 520px;
}

.general-info-decoration-line {
  width: 84px;
  height: 7px;
  margin-bottom: 40px;
  background-color: #000000;
}

.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.general-info-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-list {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 36px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.button-about-us {
  width: 270px;
}

.contacts {
  width: 532px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.button-contact-us {
  width: 270px;
}

/* Подписка на рассылку */
.subscribe {
  background-color: #f0f0f0;
}

.subscribe-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe-wrapper-row {
  display: flex;
  align-items: center;
}

.subscribe-wrapper-row:not(:last-child) {
  margin-bottom: 144px;
}

.subscribe-title {
  width: 348px;
  margin: 0 252px 0 10px;
}

.subscribe-text {
  margin: 0;
  width: 560px;
}

.subscribe-form {
  display: flex;
  width: 811px;
  margin-right: auto;
}

.subscribe-button {
  padding: 15px 36px;
  line-height: 21px;
  letter-spacing: 0.2em;
  border: 3px solid #cecece;
}

.subscribe-button:hover {
  border-color: #000000;
}

.subscribe-button:active {
  border-color: #cecece;
  color: rgba(0, 0, 0, 0.3);
}

.subscribe-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.subscribe-button:focus {
  outline-offset: 2px;
}

.subscribe-remark {
  position: relative;
  margin: 0;
}

.subscribe-remark::before {
  position: absolute;
  left: -30px;
  bottom: 0;
  top: 0;
  content: "";
  width: 14px;
  height: 14px;
  margin: auto;
  background-image: url('/images/icons/icon-green-tick.svg');
  background-repeat: no-repeat;
}

/* Подвал */

.page-footer {
  font-size: 16px;
  line-height: 20px;
  background-color: #444444;
  color: #ffffff;
}

.page-footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-logo {
  margin-bottom: 35px;
}

.page-footer-wrapper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer-wrapper-row:not(:last-child) {
  margin-bottom: 47px;
}

.page-footer a {
  color: #ffffff;
  cursor: default;
}

.footer-contacts-address {
  width: 234px;
}

.footer-address {
  font-style: normal;
}

.footer-address-text {
  margin: 0;
}
/* Ширину сделал больше с расчетом возможности добавления страниц*/
.footer-navigation {
  width: 610px;
}

.footer-navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  position: relative;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.footer-navigation-link:hover {
  color: #ffc700;
}

.footer-navigation-link::before {
  display: none;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #ffc700;
  content: "";
}

.footer-navigation-link:hover::before {
  display: block;
}

.footer-navigation-link:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-contacts-phone {
  width: 180px;
  text-align: right;
}

.footer-phone-number:hover {
  color: #ffc700;
}

.footer-phone-number:active {
  opacity: 0.3;
}

.footer-phone-number:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-decoration-line-wrapper {
  width: 234px;
  height: auto;
}

.footer-decoration-line {
  width: 80px;
  height: 7px;
  background-color: #ffc500;
}
/* Ширину сделал больше с расчетом возможности добавления иконок новых социальных сетей*/
.footer-social {
  width: 610px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.3;
  outline: none;
}

.footer-social-link:hover {
  background-color: #ffc700;
  opacity: 1;
}

.footer-social-link:active .footer-social-icon {
  opacity: 0.3;
}

.footer-social-item:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-social-icon {
  margin: auto;
}

.footer-copyright {
  width: 180px;
  text-align: right;
}

.htmlacademy-link {
  display: block;
}

.htmlacademy-link:hover .footer-htmlacademy-logo {
  fill: #ffffff;
}

.htmlacademy-link:active .footer-htmlacademy-logo {
  fill: #ffffff;
  opacity: 0.3;
}

.htmlacademy-link:focus .footer-htmlacademy-logo {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
/* Main catalog */
.main-inner {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.inner-header {
  margin-bottom: 16px;
}

.inner-header-wrapper {
  width: 1040px;
  margin: 0 auto 35px;
}

.inner-header-title {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 36px;
  text-decoration: none;
  color: inherit;
}

/* Список товаров с фильтрами */

.catalog-products {
  flex-grow: 1;
  background-color: #f0f0f0;
}

.catalog-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-filter {
  width: 220px;
  margin-right: 40px;
  margin-left: 60px;
}

.catalog-right-column-wrapper {
  width: 840px;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  width: 760px;
  margin: 0 auto;
  padding: 20px 0;
}

.catalog-subtitle {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-subtitle-filter {
  padding: 25px 0;
  margin-bottom: 35px;
}


.button-sort {
  width: 31px;
  height: 30px;
  /* Временный цвет фона кнопок - для корректной микросетки */
  background-color: darkgray;
}

.select-control {
  margin-right: auto;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.products-wrapper {
  box-sizing: border-box;
  width: 840px;
  padding: 70px 40px 78px 40px;
  background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.product-card-link {
  display: grid;
  grid-template-columns: 226px auto;
  grid-template-rows: 380px auto;
  grid-template-areas:
    "product-image product-image"
    "product-title product-price";
  row-gap: 32px;
  text-decoration: none;
  color: #444444;
}

.product-card-image {
  grid-area: product-image;
  object-fit: contain;
}

.product-card-title {
  grid-area: product-title;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-card-price {
  grid-area: product-price;
  align-self: start;
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-more {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 19px;
  border: 3px solid #E5E5E5;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.button-pagination {
  padding: 25px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  vertical-align: center;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

