@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
}

.button:not(.button-without-line)::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.button:hover:not(.button-services-current):not(.button-without-line) {
  background-color: #ffe17f;
}

.button:active:not(.button-services-current):not(.button-without-line) {
  background-color: #ffcc33;
}

.button:focus {
  outline: 2px solid #af4fff;
}

.button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* Pages */

/* Header */
.page-header {
  width: 1160px;
  min-height: 300px;
  margin: 40px auto 0;
  color: #000000;
  background-color: #ffe17f;
}

.page-header-inner {
  min-height: 186px;
}

.header-wrapper {
  width: 1040px;
  margin: -22px auto 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-logo-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.navigation-logo {
  display: flex;
  text-decoration: none;
  color: #000000;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  width: 517px;
  box-sizing: border-box;
}

.navigation-search-field {
  box-sizing: border-box;
  width: 359px;
  padding: 10px 10px 10px 48px;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-image: url("/images/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: left 14px center;
  background-color: transparent;
  outline: none;
}

.navigation-search-field-wrapper:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-search-field:disabled {
  opacity: 0.3;
}

.navigation-search-field::-webkit-search-decoration,
.navigation-search-field::-webkit-search-cancel-button,
.navigation-search-field::-webkit-search-results-button,
.navigation-search-field::-webkit-search-results-decoration {
  display: none;
}

.navigation-search-link-wrapper {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
}

.navigation-search-link {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  outline: none;
}

.navigation-search-link:hover {
  color: #ffffff;
  background-color: #000000;
}

.navigation-search-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-search-link:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.navigation-search-link-wrapper:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-login {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 230px;
}

.navigation-user-products {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 240px;
}

.navigation-link {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000000;
  cursor: default;
}

.navigation-link:hover {
  opacity: 0.6;
  outline: none;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-link-login {
  padding-left: 26px;
}

.navigation-link-compare {
  padding-left: 22px;
}

.navigation-link-basket {
  padding-left: 43px;
}

.navigation-link-basket::before {
  position: absolute;
  top: 4.5px;
  left: 0;
  display: flex;
  width: 21px;
  height: 21px;
  content: "2";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 1;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navigation-link-basket .navigation-icon {
  left: 15px;
}

.navigation-link-login .navigation-icon,
.navigation-link-compare .navigation-icon,
.navigation-link-basket .navigation-icon {
  right: auto;
  margin: auto 0;
}

.popover {
  position: absolute;
  z-index: 1;
  margin-top: 6px;
  width: 320px;
  min-height: 218px;
  margin-left: -127px;
  box-sizing: border-box;
  background-color: #000000;
}

.popover-closed {
  display: none;
}

.popover::before {
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  width: 14px;
  height: 6px;
  background-image: url("/images/icons/icon-popover-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cart-item {
  padding: 20px 50px 20px 20px;
  position: relative;
  display: flex;
}

.cart-item-link {
  display: flex;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-item-image {
  margin-right: 23px;
}

.cart-item-title {
  padding: 0;
  margin: 0;
}

.icon-delete-cart-item {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
}

.icon-delete-cart-item:hover {
  opacity: 0.6;
}

.icon-delete-cart-item:active {
  opacity: 0.3;
}

.icon-delete-cart-item:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-status {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #1a1a1a;
}

.cart-items-quantity,
.cart-items-price {
  padding: 12px 0;
}

.cart-items-total-price {
  font-weight: 400;
}

.button-open-cart {
  width: 280px;
  margin: 20px;
  padding: 15px 0;
  color: #000000;
  background-color: #ffffff;
}

.button-open-cart:hover {
  background-color: #ffe17f;
}

.button-open-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-open-cart:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-open-cart:disabled {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.logout-link {
  opacity: 0.3;
}

.navigation-site {
  height: 50px;
  align-items: center;
}

.navigation-site .navigation-link {
  font-family: Raleway, sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-site .navigation-item:not(:last-child) {
  margin-right: 45px;
}

.navigation-site .navigation-item:first-child {
  margin-right: auto;
}

.navigation-catalog {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 293px;
  height: 50px;
  padding: 0;
  text-align: left;
  z-index: 1;
}

.navigation-catalog-toggle {
  opacity: 0.3;
}

.navigation-catalog:hover .navigation-catalog-toggle {
  opacity: 1;
}

.navigation-catalog:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.icon-toggle-open {
  display: none;
}

.navigation-catalog-opened .icon-toggle-close {
  display: none;
}

.navigation-catalog-opened .icon-toggle-open,
.navigation-catalog-opened + .subcatalog {
  display: flex;
}

.catalog-item {
  position: relative;
}

.subcatalog {
  position: absolute;
  display: none;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  top: 30px;
  left: -60px;
  width: 1160px;
  height: 180px;
  margin: 0 auto;
  padding: 33px 60px 27px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  list-style-type: none;
  z-index: 0;
}

.catalog-item:focus-within .subcatalog {
  display: flex;
}

.subcatalog-item {
  min-width: 211px;
  max-width: 222px;
  margin-right: 30px;
  margin-bottom: 16px;
}

.subcatalog-item:nth-child(3n) {
  margin-bottom: 0;
}

.subcatalog-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000000;
  cursor: default;
}

.subcatalog-link::before {
  display: none;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #000000;
  content: "";
}

.subcatalog-link:hover {
  opacity: 0.6;
  outline: none;
}

.subcatalog-link:active {
  opacity: 0.3;
}

.subcatalog-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subcatalog-link-current::before {
  display: block;
}

/* Main index */

.main-container {
  flex-grow: 1;
}

/* Слайдер */
.promo {
  display: flex;
  width: 1160px;
  margin: 0 auto 70px;
}

.promo-photo-wrapper {
  position: relative;
  margin-top: -150px;
  margin-right: 40px;
}

.slider-image {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 211px;
  left: 30px;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  border: none;
  background-image: url("/images/icons/icon-left-slider-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-button:disabled {
  opacity: 0.1;
}

.slider-next {
  transform: rotate(180deg)
}

.promo-number {
  display: block;
  width: 250px;
  height: 135px;
  margin: -121px 49px 0 auto;
  padding: 0;
  text-align: right;
  font-family: Rubik, sans-serif;
  font-size: 180px;
  line-height: 135px;
  font-weight: 700;
  color: #ffffff;
}

.promo-slogan {
  margin: -46px 0 29px;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.promo-description {
  margin: 0;
}

.promo-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.button-detail {
  width: 220px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: default;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:disabled:not(.slider-pagination-button-current) {
  opacity: 0.1;
}

.slider-pagination-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.promo-stats {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.promo-stats-wrapper:not(:last-child) {
  margin-right: 20px;
}

.promo-stats-number {
  margin-bottom: 12px;
  font-size: 36px;
  color: #000000;
}

.promo-stats-description {
  margin: 0;
  font-size: 16px;
}

/* Категории товаров */

.product-categories {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto 172px;
}

.product-categories-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-categories-item {
  width: 160px;
}

.product-categories-item:not(:nth-child(6n)) {
  margin-right: 40px;
}

.product-categories-link {
  display: block;
  text-decoration: none;
  color: #000000;
  outline: none;
  cursor: default;
}

.product-categories-link:hover .product-categories-wrapper {
  background-color: #ffc700;
}

.product-categories-link:active {
  opacity: 0.3;
}

.product-categories-link:focus {
  outline: 2px solid #af4fff;
}

.product-categories-title {
  min-height: 60px;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.product-categories-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
  background-position: center;
  background-repeat: no-repeat;
}

.product-categories-vr {
  background-image: url("/images/icons/icon-vr.svg");
  background-size: 97px 55px;
}

.product-categories-selfie-monopod {
  background-image: url("/images/icons/icon-monopod.svg");
  background-size: 86px 117px;
  background-position: center bottom;
}

.product-categories-action-camera {
  background-image: url("/images/icons/icon-camera.svg");
  background-size: 71px 87px;
}

.product-categories-fitness-bracelet {
  background-image: url("/images/icons/icon-bracelet.svg");
  background-size: 107px 65px;
}

.product-categories-smart-watch {
  background-image: url("/images/icons/icon-watch.svg");
  background-size: 56px 98px;
}

.product-categories-quadrocopter {
  background-image: url("/images/icons/icon-quadrocopter.svg");
  background-size: 132px 69px;
}

/* Услуги */

.services {
  position: relative;
  display:flex;
  width: 100%;
  height: 289px;
  margin-bottom: 70px;
  background-color: #f0f0f0;
  z-index: 0;
}

.services-wrapper {
  display: flex;
  width: 1160px;
  height: 319px;
  margin: 0 auto;
  margin-top: -102px;
}

.services-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 287px;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  list-style-type: none;
  border-right: 7px solid #000000;
}

.services-info {
  display: none;
}
.services-info-current {
  display: flex;
  align-items: center;
}

.services-text {
  width: 475px;
  margin-right: 83px;
}

.services-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.services-description {
  margin: 0;
}

.services-item:not(:last-child) {
  margin-bottom: 35px;
}

.button-services {
  width: 160px;
}

.button-services-current {
  width: 100%;
  background-color: #000000;
  color: #ffe17f;
  border: none;
}

.button-services-current span {
  display: block;
  width: 160px;
  box-sizing: border-box;
  text-align: center;
}
.services-icon {
  background-position: center;
  background-repeat: no-repeat;
}

.services-icon-delivery {
  width: 136px;
  height: 164px;
  background-image: url("/images/icons/icon-delivery.svg");
  background-size: 136px 164px;
}

.services-icon-warranty {
  width: 171px;
  height: 195px;
  background-image: url("/images/icons/icon-warranty.svg");
  background-size: 171px 195px;
}

.services-icon-credit {
  width: 156px;
  height: 188px;
  background-image: url("/images/icons/icon-credit.svg");
  background-size: 156px 188px;
}

/* Спецпредложения */

.special-offers {
  width: 1160px;
  margin: 0 auto 70px;
}

.special-offers-wrapper {
  display: flex;
  width: 100%;
  background-color: #f0f0f0;
}

.special-offers-wrapper:hover g {
  opacity: 1;
}

.special-offers-wrapper:hover .special-offers-icon-delivery {
  background-color: #ffc700;
}

.special-offers-wrapper:hover .special-offers-icon-delivery {
  background-color: #ffc700;
}

.special-offers-wrapper:active {
  opacity: 0.3;
}

.special-offers-wrapper:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.special-offers-icon {
  display: flex;
  width: 125px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.special-offers-icon-delivery {
  background-image: url("/images/icons/icon-special-delivery.svg");
  background-size: 47px 31px;
  background-color: #ffe17f;
}

.special-offers-icon-info {
  margin: auto;
  width: 40px;
  height: 40px;
}

.special-offers-title {
  flex-grow: 1;
  margin: auto;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

/* О нас, Контакты */

.general-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto 80px;
}

.about {
  width: 520px;
}

.general-info-decoration-line {
  width: 84px;
  height: 7px;
  margin-bottom: 40px;
  background-color: #000000;
}

.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.general-info-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-list {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 36px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.button-about-us {
  width: 270px;
}

.contacts {
  width: 532px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.button-contact-us {
  width: 270px;
}

/* Подписка на рассылку */
.subscribe {
  background-color: #f0f0f0;
}

.subscribe-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe-wrapper-row {
  display: flex;
  align-items: center;
}

.subscribe-wrapper-row:not(:last-child) {
  margin-bottom: 144px;
}

.subscribe-title {
  width: 348px;
  margin: 0 252px 0 10px;
}

.subscribe-text {
  margin: 0;
  width: 560px;
}

.subscribe-form {
  display: flex;
  width: 811px;
  margin-right: auto;
}

.subscribe-input-email {
  flex-grow: 1;
  padding: 0 16px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  outline: none;
}

.subscribe-input-email:focus {
  background-color: #dcdcdc;
}

.subscribe-input-email:invalid {
  border-bottom-color: #ff3d3d;
}

.subscribe-input-email:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.subscribe-input-email:disabled + .subscribe-button {
  opacity: 0.3;
  pointer-events: none;
}

.subscribe-button {
  padding: 15px 36px;
  line-height: 21px;
  letter-spacing: 0.2em;
  border: 3px solid #cecece;
}

.subscribe-button:hover {
  border-color: #000000;
}

.subscribe-button:active {
  border-color: #cecece;
  color: rgba(0, 0, 0, 0.3);
}

.subscribe-button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.subscribe-button:focus {
  outline-offset: 2px;
}

.subscribe-remark {
  position: relative;
  margin: 0;
}

.subscribe-remark::before {
  position: absolute;
  left: -30px;
  bottom: 0;
  top: 0;
  content: "";
  width: 14px;
  height: 14px;
  margin: auto;
  background-image: url('/images/icons/icon-green-tick.svg');
  background-repeat: no-repeat;
}

/* Подвал */

.page-footer {
  font-size: 16px;
  line-height: 20px;
  background-color: #444444;
  color: #ffffff;
}

.page-footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer-logo-wrapper {
  display: flex;
  margin-bottom: 35px;
}

.page-footer-wrapper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer-wrapper-row:not(:last-child) {
  margin-bottom: 47px;
}

.page-footer a {
  color: #ffffff;
  cursor: default;
}

.footer-contacts-address {
  width: 234px;
}

.footer-address {
  font-style: normal;
}

.footer-address-text {
  margin: 0;
}
/* Ширину сделал больше с расчетом возможности добавления страниц*/
.footer-navigation {
  width: 610px;
}

.footer-navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  position: relative;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.footer-navigation-link:hover {
  color: #ffc700;
}

.footer-navigation-link::before {
  display: none;
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #ffc700;
  content: "";
}

.footer-navigation-link:hover::before {
  display: block;
}

.footer-navigation-link:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-contacts-phone {
  width: 180px;
  text-align: right;
}

.footer-phone-number:hover {
  color: #ffc700;
}

.footer-phone-number:active {
  opacity: 0.3;
}

.footer-phone-number:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-decoration-line-wrapper {
  width: 234px;
  height: auto;
}

.footer-decoration-line {
  width: 80px;
  height: 7px;
  background-color: #ffc500;
}

/* Ширину сделал больше с расчетом возможности добавления иконок новых социальных сетей*/
.footer-social {
  width: 610px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.3;
  outline: none;
}

.footer-social-link:hover {
  background-color: #ffc700;
  opacity: 1;
}

.footer-social-link:active .footer-social-icon {
  opacity: 0.3;
}

.footer-social-item:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-social-icon {
  margin: auto;
}

.footer-copyright {
  width: 180px;
  text-align: right;
}

.htmlacademy-link {
  display: block;
}

.htmlacademy-link:hover .footer-htmlacademy-logo {
  fill: #ffffff;
}

.htmlacademy-link:active .footer-htmlacademy-logo {
  fill: #ffffff;
  opacity: 0.3;
}

.htmlacademy-link:focus .footer-htmlacademy-logo {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 5;
}

.modal-closed {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal-delivery {
  width: 920px;
  z-index: 0;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("/images/icons/icon-black-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.delivery-form-fields-wrapper {
  display: grid;
  grid-template-columns: 360px 140px 180px;
  grid-template-rows: 94px 94px;
  gap: 62px 40px;
  margin-bottom: 42px;
}

.delivery-form-user-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.delivery-form-user-email {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.delivery-form-description {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.delivery-form-buttons {
  grid-column: 3 / 4;
  grid-row: 2 / 2;
}

.field-group {
  margin: 0;
  padding: 0;
}

.form-label {
  display: block;
  margin-bottom: 14px;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.delivery-form-field {
  width: 100%;
  padding: 20px;
  padding-right: 45px;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: right 24px center;
  outline: none;
}

.delivery-form-user-name {
  position: relative;
}

.delivery-form-user-email {
  position: relative;
}

.delivery-form-user-name .delivery-form-field {
  background-image: url("/images/icons/icon-user.svg");
  background-size: 13px 12px;
}

.delivery-form-user-email .delivery-form-field {
  background-image: url("/images/icons/icon-email.svg");
  background-size: 15px 12px;
}

.delivery-form-user-name::after {
  position: absolute;
  left: 0;
  top: 94px;
  content: "Добавьте имя";
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.delivery-form-user-email::after {
  position: absolute;
  left: 0;
  top: 94px;
  content: "Забавный у вас адрес";
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.delivery-form-description .delivery-form-field {
  padding-right: 20px;
}

.delivery-form-buttons label {
  position: relative;
}

.delivery-form-buttons label::after {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 8px;
  margin-top: -4px;
  border-radius: 50%;
  content: "";
  background-image: url("/images/icons/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 12px;
  background-color: #ffe17f;
}

.delivery-form-field::placeholder {
  color: #000000;
  opacity: 0.3;
}

.delivery-form-field:hover {
  background-color: #dcdcdc;
}

.delivery-form-field:invalid:not(.quantity-field) {
  border: 2px solid #ff3d3d
}

.delivery-form-field:invalid + .delivery-form-user-email::after {
  color: #ff3d3d
}

.delivery-form-field:focus:not(.quantity-field) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-modal-quantity {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-quantity-controls {
  display: flex;
  width: 100%;
}

.quantity-field {
  width: 60px;
  appearance: none;
}

.quantity-field::-webkit-outer-spin-button,
.quantity-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-decrease {
  background-image: url("/images/icons/icon-minus-decrease.svg");
}

.button-increase {
  background-image: url("/images/icons/icon-plus-increase.svg");
}

.button-submit-delivery-form {
  width: 200px;
}

/* Main catalog */
.main-inner {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.inner-header {
  margin-bottom: 16px;
}

.inner-header-wrapper {
  width: 1040px;
  margin: 0 auto 35px;
}

.inner-header-title {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  width: 4px;
  height: 7px;
  margin: auto 0;
  background-image: url('/images/icons/icon-arrow-breadcrumbs.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link {
  margin-right: 36px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Список товаров с фильтрами */

.catalog-products {
  flex-grow: 1;
  background-color: #f0f0f0;
}

.catalog-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-filter {
  width: 200px;
  margin-right: 60px;
  margin-left: 60px;
  z-index: 0;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.catalog-filter-range {
  margin-bottom: 68px;
}

.catalog-filter-title {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 12px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  border-top: 2px solid #000000;
}

.catalog-filter-range-title {
  margin-bottom: 30px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.range-toggle-wrapper-min {
  top: -8px;
  left: -30px;
}

.range-toggle-wrapper-mах {
  top: -8px;
  right: -30px;
}

.range-toggle {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: none;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.3);
  background: #ebebeb;
}

.range-toggle:active {
  opacity: 1;
  background-color: #000000;
}

.range-button-wrapper {
  display: flex;
  margin-bottom: 3px;
}

.range-button-wrapper:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-filter-label {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  line-height: 18px;
}

.catalog-filter-label span,
.catalog-filter-label .range-input {
  opacity: 0.3;
}

.catalog-filter-label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-input {
  width: 40px;
  margin-left: 5px;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
}

/* динамический input в зависимости от количества символов - делается в JS,*/
/*здесь - только визуальное решение для центрирования */
.range-toggle-wrapper-min .range-input {
  width: 11px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 18px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:disabled + .control-mark {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("/images/icons/icon-black-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border-color: #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark{
  border-color: #000000;
}

.button-catalog-filter {
  width: 220px;
}

.catalog-right-column-wrapper {
  width: 840px;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  width: 760px;
  margin: 0 auto;
  padding: 20px 0;
}

.select-control {
  width: 160px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-image: url("/images/icons/icon-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  background-color: #f0f0f0;
  appearance: none;
}

.catalog-subtitle {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-subtitle-filter {
  padding: 25px 0;
  margin-bottom: 35px;
}

.button-sort {
  display: block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: default;
  opacity: 0.2;
}

.button-sort:hover {
  opacity: 0.5;
}

.button-sort:active{
  opacity: 1;
}

.button-sort:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-sort-ascending {
  background-image: url("/images/icons/icon-sort-arrow.svg");
}

.button-sort-descending {
  background-image: url("/images/icons/icon-sort-arrow.svg");
  transform: rotate(180deg);
}

.select-control {
  margin-right: auto;
}

.products-wrapper {
  box-sizing: border-box;
  width: 840px;
  padding: 70px 40px 78px 40px;
  background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.product-card-link {
  display: grid;
  grid-template-columns: 226px auto;
  grid-template-rows: 380px auto;
  grid-template-areas:
    "product-image product-image"
    "product-title product-price";
  row-gap: 32px;
  text-decoration: none;
  color: #444444;
  cursor: default;
}

.product-card-link:hover .product-card-image {
  opacity: 0.3;
}

.product-card-link:hover .product-card-title,
.product-card-link:hover .product-card-price {
  opacity: 0.6;
}

.product-card-link:hover .product-card-image-wrapper::after {
  opacity: 0.2;
}

.product-card-link:hover .button-product-detail {
  display: block;
  pointer-events: none;
}

.product-card-link:active .product-card-title,
.product-card-link:active .product-card-price {
  opacity: 0.3;
}

.product-card-link:active .button::before {
  background-color: #ffcc33;
}

.product-card-image-wrapper {
  position: relative;
  grid-area: product-image;
  width: 360px;
  height: 380px;
}

.product-card-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-card-image {
  display: block;
  object-fit: contain;
}

.product-card-image-wrapper::after {
  content: none;
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("/images/icons/icon-product-new.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product-new::after {
  content: "";
}

.button-product-detail {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -110px;
  width: 220px;
  z-index: 0;
}

.product-card-title {
  grid-area: product-title;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-card-price {
  grid-area: product-price;
  align-self: start;
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-more {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 19px;
  border: 3px solid #E5E5E5;
}

.button-more:hover {
  border-color: #000000;
}

.button-more:active {
  border-color: #cecece;
  color: rgba(0, 0, 0, 0.3);
}

.button-more:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button-more:focus {
  outline-offset: 2px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.button-pagination {
  padding: 25px;
}

.button-pagination:hover {
  background-color: #dcdcdc;
}

.button-pagination:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  vertical-align: center;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #444444;
  cursor: default;
}

.pagination-link span {
  opacity: 0.3;
}

.pagination-link:hover span{
  opacity: 0.8;
}

.pagination-link:active span {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-link-current {
  pointer-events: none;
}

.pagination-link-current span {
  opacity: 0.6;
}

